@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --primary-color: #ff6347;
  --secondary-color: #333;
  --text-color: #555;
  --text-gray: #bbb;
  --bg-dark-color: #1d1d1d;
  --bg-light-color: #f5f5f5;
  --links-blue-color: #007bff;
  --links-blue-hover-color: #0056b3;

  font-family: 'Mulish', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--secondary-color);
  background-color: var(--bg-light-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Mulish', sans-serif;
  color: var(--secondary-color);
}
h1 {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--primary-color);
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
  font-weight: 700;
}

h2 {
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  text-align: center;
}

p {
  font-size: 1.15rem;
  color: var(--text-color);
  font-weight: 300;
  margin-top: 0.5rem;
}

a {
  font-weight: 500;
  color: var(--links-blue-color);
  text-decoration: inherit;
}

a:hover {
  color: var(--links-blue-hover-color);
}

button {
  display: inline-block;
  color: var(--secondary-color);
  font-family: 'Mulish';
  border-radius: 5px;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}

ul {
  list-style: none;
}
